*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/vendor
/node_modules
/.env
/public/storage
/public/hot
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/public/build
/storage/*.key
/storage/pail
Homestead.json
Homestead.yaml
Thumbs.db
